*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
/*ul li{list-style: none;}*/
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/*--------------------*/

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.content{
	flex: 1 1 auto;
}

.mainblock {
	background-color: #445162;
	padding: 30px 0 0 0;
}

.mainblock__row {
	display: flex;
	justify-content: space-between;
}

.mainblock__logo {

}

.container {
	max-width: 1180px;
	margin: 0px auto;
}

@media (max-width:1180px) {
	.container{
		max-width: 970px;
	}
}

@media (max-width:992px) {
	.container{
		max-width: 750px;
	}
}

@media (max-width:767px) {
	.container{
		max-width: none;
	}
}

.menu {
	padding: 22px 0;
   border: 1px solid #f2f2f2;
   border-radius: 5px;
}

.menu_mb {
	columns: #fff;
	margin: 0 0 50px 0;
}

.menu__items {

}

.menu__list {
	display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   font-size: 0;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
}

.menu__list li{
	margin: 0 25px;
}

.menu__link {
	color: #f2f2f2;
   font-size: 15px;
   text-transform: uppercase;
   font-weight: 700;
}

.active {
	color: #ada074;
}

.menu__link:hover{
	color: #ada074;
}

.about {
	padding: 50px 0;
	background-color: #f5f5f5;
}

.about__body {
	max-width: 999px;
	margin: 0px auto;
}

.about__row {
	display: flex;
	margin: 0px -22.5px;
}

.about__column {
	flex: 0 1 33.333%;
	padding: 0px 22.5px;
	display: flex;
}

.someblock {
	background-color: #445162;
	color: #fff;
	padding: 0 0 20px 0;
	border-radius: 5px;
	border: 1px solid #445162;
	display: flex;
	flex-direction: column;
}

.about__ads {
	padding: 12px 20px;
}

.about__adsitem {
}

.about__adsitem img {
	margin: 0 0 12px 0;
	max-width: 100%;
	border: 1px solid #fff;
	border-radius: 5px;
}

.about__mainpart {

}

.about__title {
	border-bottom: 1px solid #fff;
}

.about__text {
	padding: 20px;
	font-size: 14px;
	line-height: 24px;
	flex: 1 1 auto;
}

.about__text p {
	margin: 0 0 15px 0;
}

.about__text p:last-child {
	margin: 0;
}

.title {
	font-size: 24px;
	text-transform: uppercase;
	padding: 12px 0;
	text-align: center;
	letter-spacing: 4.95px;
}

.about__btn{
	margin: 0px 20px;
	color: #445161;
	background-color: #fff;
}

.btn {
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
	font-size: 18px;
}

.about__someRafsIdk {
	padding: 20px 70px;
	font-size: 20px;
}

.about__someRafsIdk a {
	color: #fff;
}

.about__someRafsIdk li {
	margin: 0 0 12px 0;
}

@media (max-width:992px) {
	.about__row {
		flex-wrap: wrap;
		flex-direction: column;
	}

	.someblock {
		flex-grow: 1;
		flex-basis: 40%;
		margin: 20px 0 0 0;
		min-height: 70vh;
	}

	.about__text {
		font-size: 28px;
		line-height: 48px;
	}

	.about__someRafsIdk li {
		margin: 50px 0 0 0;
		list-style: none;
	}

	.block__element_1 {
		margin: 0;
	}
}

.gallery {
	padding: 50px 0 20px 0;
}

.gallery__title {
	margin: 0 0 30px 0;
	color: #445161;
	position: relative;
}

.gallery__title:after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background-color: #445161;
  margin: 0 0 0 -25px;
}

.gallery__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -8px;
}

.gallery__collumn {
	padding: 0px 8px;
	flex: 0 1 50%;
	margin: 0 0 30px 0;
}

.columns {
}

.columns__item {}

.item {
}

.item__row {
	display: flex;
}

.item__img {
	flex: 0 0 200px;
}

.item__body {
	flex: 1 1 auto;
	padding: 0 0 0 15px;
}

.item__title {
	color: #445161;
	font-size: 24px;
	line-height: 30px;
	margin: 0 0 13px 0;
}

.item__text {
	color: #333333;
	font-size: 16px;
	line-height: 24px;
}

.gallery__btn {
	margin: 0px auto;
	width: 262px;
	color: #fff;
	background-color: #445161;
}

@media (max-width:992px) {
	.gallery__row {
		flex-wrap: wrap;
		flex-direction: column;
	}
}

.footer {
	background-color: #f5f5f5;
}

.footer__row {
	display: flex;
	height: 65px;
	justify-content: center;
	align-items: center;
}
.footer__text {
	color: #445162;
	font-size: 12px;
	letter-spacing: 0.3px;
}
